.container {
  background-color: white;
  height: 100vh;
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.result {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: auto;
  width: auto;
  border: 3px solid teal;
  padding: 5px;
}

.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: teal;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}
