.labelValue {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.value {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.label {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
