.App {
  text-align: center;
}

input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 150px auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  outline: none;
}
.buttons-wrapper {
  margin-top: 150px;
}
.buttons-wrapper button {
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  margin: 10px;
}

.buttons-wrapper .increment-btn {
  background-color: #4caf50;
}

.buttons-wrapper .decrement-btn {
  background-color: #f44336;
}
