.detailsContainer {
  margin: 0;
}

.divTop {
  display: flex;
  flex-direction: column;
}

.backDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 50px;
}

.backBtn {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
  box-shadow: 2px 2px 2px #888888;
}

.detailsDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 50px 100px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameLabel {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  width: 40rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.lists {
  border: 3px solid #343a40;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #888888;
  width: 50vw;
  height: 70vh;
  overflow-y: scroll;
  padding-top: 55vh;
}

.listType {
  color: #343a40;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.listValues {
  color: #343a40;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divBot {
  margin: 75px 200px;
}

.warrantAlert {
  display: flex;
  justify-content: left;
  align-items: left;
}

.warrantLabel {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px #888888;
}

.warrantDetail {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff0000;
  border-radius: 10px;
  margin-bottom: 5rem;
  box-shadow: 3px 3px 3px #888888;
}

.warrantTop {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9ecef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.warrantCountryTitle {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #555;
  font-weight: bold;
  font-size: 20px;
}

.warrantCharge {
  border-top: 2px solid #ff0000;
  text-align: justify;
  padding: 15px;
  color: #ff0000;
}

.warrantChargeTitle {
  margin: 1rem;
  font-weight: bold;
}

.warrantChargeText {
  margin: 2rem 1rem;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
}

.yellowNoticeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 10rem;
  background-color: #e9ecef;
  border: 2px solid #343a40;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.yellowNoticeImg {
  height: 15rem;
  border-right: 2px solid #343a40;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.yellowNoticeText {
  font-weight: bold;
  font-size: 22px;
  color: #ff9900;
  margin: 5rem;
  text-align: justify;
}

.redNoticeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0rem;
  background-color: #e9ecef;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.redNoticeImg {
  height: 20rem;
  border-right: 2px solid #ff0000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.redNoticeText {
  font-weight: bold;
  font-size: 22px;
  color: #ff0000;
  margin: 5rem;
  text-align: justify;
}
