.footer {
  background-color: #212529;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.ft-left {
  width: 50%;
}

.ft-right {
  width: 40%;
  text-align: justify;
}
