.buttonSection{
    margin:20px 20px 0px 15px;
    display: flex;
}
.buttonSection button{
    padding:10px;
    border: none;
    border-radius: 4px;
    background-color: grey;
    color:white;
}
.buttonSection button:focus{
    background-color: rgb(0,133,252);
}
.dropdown{
    margin-left: 24%;
    margin-top: 10px;
}
.dropdown label{
    background-color: rgb(0,133,252) ;
    color:white;
    padding:5px;
    border-radius: 4px;
}
.selectDropdown{
    text-align: center;
    padding: 5px;
    margin-left:15px;
}
.navButtons{
    padding-top:10px;
}
.homeImgScrollableList{
    display:flex;
}
.homeMapImg{
    width:60%;
    margin:15px 60px 20px 15px;
    border:2px solid black;
}
.scrollable{
    margin:5px 15px;
    padding:5px;
    border:1px solid black;
    border-radius: 4px;
    width: 30%;
    height: 400px;
    overflow:auto;
    text-align:justify;
    
    
}
