.footer {
    display: flex;
    background-color: #181818;
    position: absolute;
    margin-top:70vh;
   padding: 10px;
    
  }
  .footer h1 {
    color: white;
    font-size: 1.10em;
    width:35%;
  }
  .footer p {
    color: white;
    margin-top: 0.5em;
    
  }