@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-color: #212121;
  color: whitesmoke;
}

.main-header {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

.create-form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
  margin: 10px;
  padding: 10px;
}

.upbtn {
  background-color: teal;
  color: whitesmoke;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
}

.delbtn {
  background-color: crimson;
  color: whitesmoke;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
}

.row {
  padding: 15px;
}

.column {
  padding: 15px;
}

.btn {
  background-color: whitesmoke;
  color: #212121;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.btnsDiv {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #888;
}

.btn:active {
  transform: scale(0.97);
}

.bottomDiv {
  margin-top: 30px;
}
