.formsubmit {
    width: 210px;
    height: 40px;
    background-color: purple;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
    font-size: 1.30rem;
    align-items: center;
    cursor: pointer;
    margin-left: 45px;
}

form {
    margin-left: 600px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

label {
    font-family: 'Times New Roman', Times, serif;
    color:purple;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

input .message {
    height: 50px;
}

