.meniu {
    background-color: purple;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80em;
    align-items: center;
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Quicksand Light;
}

li {
    color: white;
    width: 120px;
    font-size: 19px;
}

li:hover {
    color:hotpink;
    cursor:pointer;
}

.title {
    font-weight: bold;
    font-size: 21px;
    position:absolute;
    margin-left: 150px;
    align-items: center;
    margin-top:18px;
    color: white;
    font-family: Quicksand Light;
}

.home {
    margin-left:220px;
}