.titleDiv{
    background-color:red;
    color:white;
    text-align:center;
    width:25%;
    margin:20px;
    padding:8px;
    border-radius:8px;
}
.scrollableDiv{
    margin:20px;
    border:1px solid black;
    overflow:auto;
    margin-bottom: 20px;
    height:500px;
}

    