.container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  padding: 20px;
}

.wrapper {
  padding: 75px 150px;
  height: 350px;
  width: 350px;
  background-color: orange;
  border: 3px solid teal;
  margin: 25px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

button:active {
  transform: scale(0.95);
}

.minusBtn {
  border: 2px solid #333;
  background-color: #f44336;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px;
  color: white;
  padding: 15px 30px;
}

.plusBtn {
  border: 2px solid #333;
  background-color: #4caf50;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px;
  color: white;
  padding: 15px 30px;
}

input {
  color: black;
  font-size: 1rem;
  margin: 50px auto;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: white;
  border: 2px solid #333;
  width: 50%;
  transition: all 0.3s;
  outline: none;
}
