.form{
    height: auto;
    width: 600px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left:20px;
    padding-bottom: 10px;
    display: inline-block;
}

.input{
    height: 30px;
    width:560px;
    padding: 10px;
    margin:0 0 10px 0;
}

aside{
    width:45%;
    float:right;
    background-color: whitesmoke;
    padding:5px;
    margin:20px;
    height:450px;
    overflow-y: auto;
}

.checkTool{
    margin-bottom: 150px;
}

