.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg {
  0% {
    background-color: #ee6055;
  }
  25% {
    background-color: #60d394;
  }
  50% {
    background-color: #aaf683;
  }
  75% {
    background-color: #ffd97d;
  }
  100% {
    background-color: #ff9b85;
  }
}

.display {
  background-color: #222;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  color: whitesmoke;
  background-color: gray;
  font-weight: bold;
}

.btn:hover {
  background-color: #222;
  color: wheat;
}

.btn:active {
  transform: scale(0.95);
}
