.cardContainer {
  background-color: aliceblue;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 20vw;
  height: 45vh;
  background-color: teal;
  border: 3px solid #222;
}

.photo {
  height: 30vh;
  border: 3px solid #222;
  margin: 10px;
}

.cardItem {
  padding: 10px;
  margin: 10px;
  border: 3px solid #222;
  width: auto;
  height: 8vh;
  font-weight: 600;
  text-align: center;
  background-color: orange;
}
