.image img {
  width: 100%;
}
.cardd {
  display: flex;
  border: 1px solid  #38363a;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5em;
  box-shadow: 5px 5px #38363a;
}
.image-card{
  padding:10px;
  width:50%;
}
.image-card img{
  width:200px;
  height: 200px;
}
.info {
  width: 50%;
}
.name{
  font-size: 1.5em;
  font-weight: bold;
}
.birth,
.age,
.nat,
.sex {
  border-bottom: 1px solid black;
  margin: 0.5em;
  font-size: 1.25em;
}
@media screen and (max-width:1200px) {
 .name{
  font-size: 1em;
 }
 .image-card img{
   width: 100%;
   height: 70%;
 }
 .birth,
.age,
.nat,
.sex {
  border-bottom: 1px solid black;
  margin: 0.5em;
  font-size: 1em;
}
}

