.text-link {
    color: white;
    text-decoration: none;
    margin-left: 1em;
  }
  label{
    margin-right: 1em;
  }
button{
    background-color: #DC143C;
    color:white;
    border-radius: 10px;
}