.button {
    background-color: transparent;
    border: none;
    color: #F1FFFA;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 8px;
  }
  
.button:hover {opacity: 1}

