.ulHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  .ulHeader li {
    float: left;
  }
  .link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .link:hover {
    background-color: #333;
  }
  
  