.card {
    border: 2px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
    border-radius: 10px;
    width: 40%;
}

.photos {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

