@import url("https://fonts.googleapis.com/css2?family=Domine:wght@500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Domine", serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(0, 106, 201);
  color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(20, 5, 231, 0.5);
}
.nav-links a {
  color: #fff;
}

.logo {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: rgba(36, 151, 252, 0.836);
  border-radius: 5px;
  transition: 0.3s ease;
}

nav ul .active {
  color: rgb(0, 106, 201);
  background-color: rgba(255, 255, 255, 0.705);
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 19px;
}

.menu li {
  padding: 15px 16px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 106, 201, 0.4);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: rgba(0, 107, 201, 0.514);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}
